<p style="color: green"><%= notice %></p>

<h1>Showing article details</h1>

<!--
  <%=%> : evalue ce qui est entre les balises %> comme etant du code ruby
          le '=' permet d'afficher le resultat de l'evaluation
-->
<p><strong>Title: </strong><%= @article.title %></p>  
<p><strong>Description: </strong><%= @article.description %></p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<!-- Ne pas oublier de specifier la methode delete pour le delete link -->
<%= link_to 'Delete', article_path(@article), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %> |
<%= link_to 'Return to articles listing', articles_path %>